// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";
$banner-font: "playfair display";
// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "BrandonGrotW01-Light";
  src: font-url('Brandon_Grot_W01_Light.woff') format('woff'),
}
$para-font: "BrandonGrotW01-Light";
@font-face {
  font-family: "Futura LT";
  src: font-url('Futura_LT_Light.woff') format('woff'),
}
$futura2: "Futura LT";

@font-face {
  font-family: "FuturaLTW01-LightOblique";
  src: font-url('Futura_LT_W01_Light_Oblique.woff') format('woff'),
}
$futura: "FuturaLTW01-LightOblique";

