<%= render '/shared/banner' %>
<%= render '/shared/navbar' %>
<div class="banner2 container">
  <h2> Make you feel at home & get you drunk is our passion</h2>
</div>


<div class="banner3 d-flex">
  <div class="left d-flex">
    MIXOLOGY
  </div>

  <div class="miximg">
    <%= image_tag ("banner.jpg"), class: "drink_image", alt: "alttext" %>
  </div>
</div>
