<%= render '/shared/navbar' %>
<div class="container">
  <div class="main-container">
    <% @popular.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="cocktail-card">
          <h3> <%= cocktail.name.upcase%></h3>
          <p> <%= cocktail.description %></p>
          <p id="price">$9</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

























