// Specific CSS for your home-page
.message-section {
  padding-top: 100px;
  padding-bottom: 100px;
  display:flex;
  flex-direction:column;
  align-items:center;
  min-height: 50vh;
  // padding: 100px;
  text-align: center;
  justify-content:center;
  font-family: $para-font;

  h2 {
    font-family: playfair display;
    font-size: 65px;
    // font-size: 5vh;
  }
}

.info-wrapper{
  background-color: $my-gold;

  .info-section{
    margin-top:150px;
    // margin-bottom:150px;
    display:flex;
    min-height: 500px;
    .half-no-image{
      display:flex;
      align-items:center;
      justify-content:center;
      width:50%;
      flex-grow:1;
      background-color: $my-gold;
      text-align:center;
      h3 {
        font-family: playfair display;
        font-size: 65px;
        color: white;

      }
    }

    .half-with-image {
      width:50%;
      background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)), asset-url('banner.jpg');
      background-size: cover;
      background-position: center;
    }
  }
}

.subscription-section {
  display:flex;
  flex-direction:column;
  align-items:center;
  // min-height: 10vh;
  text-align: center;
  justify-content:center;
  font-family: $para-font;

  h2 {
    margin-top:80px;
    font-family: playfair display;
    // font-size: 84px;
    font-size: 5vh;
  }

  p{
    font-family: $para-font;
    font-size:24px;
  }

  #myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  }

  .quote {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:absolute;
    color:white;
    &.hidden {
       display:none;
      }

    .sepatator {
      margin-top: 30px;
      margin-bottom: 30px;
      background-color: $my-gold;
      width:100px;
      height: 10px;
    }

    #disappearing-form{
      // width:100%;
      margin-top:100px;
      background-color: white;
      color:black;
      padding: 50px;

      &.hidden {
       display:none;
      }


      .btn_gold.large{
        width:100%;
        // padding-left: 40%;
        // padding-right: 40%;
        &.disabled{
          pointer-events: none;
        }
      }
    }
  }
}







