.message-section {
  padding-top: 100px;
  padding-bottom: 100px;
  display:flex;
  flex-direction:column;
  align-items:center;
  min-height: 50vh;
  text-align: center;
  justify-content:center;
  font-family: $para-font;

  h2 {
    font-family: playfair display;

    @media only screen and (max-width: 599px) {
      font-size: 11.5vw;
    }

    @media only screen and (min-width: 600px) {
      font-size: 3.5vw;
    }
  }
}

.info-wrapper{
  background-color: $my-gold;

  .info-section{
    display:flex;
    min-height: 30vw;
    .half-no-image{
      display:flex;
      align-items:center;
      justify-content:center;
      width:50%;
      flex-grow:1;
      background-color: $my-gold;
      text-align:center;

      h3 {
        font-family: playfair display;
        color: white;

        @media only screen and (max-width: 599px) {
          font-size: 4.5vw;
        }

        @media only screen and (min-width: 600px) {
          font-size: 3vw;
        }
      }
    }

    .half-with-image {
      width:50%;
      background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)), asset-url('banner.jpg');
      background-size: cover;
      background-position: center;
    }
  }
}

.subscription-section {
  display:flex;
  flex-direction:column;
  align-items:center;
  // min-height: 10vh;
  text-align: center;
  justify-content:center;
  font-family: $para-font;

  h2 {
    // margin-top:80px;
    font-family: playfair display;
    // font-size: 84px;
    font-size: 4vw;
  }

  p{
    font-family: $para-font;
    // font-size:1.5vw;
    // DEKSTOP VERSION
    font-size:2.5vw;
    // MOBILE VERSION
  }

  #myVideo {
    z-index: -1;
    width: 100%;
    pointer-events: none;
  }

  .quote {
    z-index:1;
    position: absolute;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    &.hidden {
       display:none;
      }

    p{
      margin-bottom:0;
    }
  }
}

.backy{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align: center;
  justify-content:center;

  h2 {
    font-family: playfair display;
    font-size: 4vw;
  }

  p{
    font-family: $para-font;

    @media only screen and (max-width: 599px) {
        font-size:4.5vw;
    }

    @media only screen and (min-width: 600px) {
        font-size:1.5vw;
    }
  }


  @media only screen and (min-width: 600px) {
    #disappearing-form{
      width:50%;
      margin-bottom:50px;
      margin-top: 50px;
      background-color: white;
      color:black;
      padding: 5%;
      // DESKTOP VERSION
      .logo-form{
        width:10vw;
        margin-bottom: 50px;
      }
      &.hidden {
       display:none;
      }


      .btn_gold.large{
        width:100%;
        // padding-left: 40%;
        // padding-right: 40%;
        &.disabled{
          pointer-events: none;
        }
      }
    }
  }

  @media only screen and (max-width: 599px) {
    #disappearing-form{
      width:90%;
      margin-top:5vw;
      margin-bottom: 5vw;
      background-color: white;
      color:black;
      padding: 5%;
      // MOBILE VERSION

      .logo-form {
        width: 20vw;
        margin-bottom:30px;
      }

      &.hidden {
       display:none;
      }


      .btn_gold.large{
        width:100%;
        // padding-left: 40%;
        // padding-right: 40%;
        &.disabled{
          pointer-events: none;
        }
      }
    }
  }
}





