@import "home";
@import "show";

.search-form {
  margin-bottom:50px;
&.index-form{
  @media only screen and (min-width: 600px) {
    display:none;
  }
}

  .form-control{
    display:flex;
  }
  .btn_gold{
    margin-top:2px;
  }
  #query{
    // width:25%;
    font-family:$para-font;
  }
}

#title-index{
  text-align: center;
  font-family: $para-font;
  color: $my-gold;
  font-size:24px;

}

.separator2{
  margin:auto;
  background-color: $my-lggray;
  width:70px;
  height:2px;
}

.main-container{
  margin-bottom:50px;
  margin-top:65px;
  display:grid;
  grid-gap:16px;
  grid-row-gap:100px;

  a{
    display:flex;
  }
  a:hover{
    text-decoration: none;
    transform: scale(1.1);
  }

  @media only screen and (max-width: 599px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media only screen and (min-width: 990px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


