<%= render '/shared/banner' %>
<div class="message-section container">
  <h2> Make you feel at home & get you drunk is my passion...</h2>
  <%= link_to 'Explore my recipes', cocktails_path, class: "btn_gold"%>
</div>

<div class="info-wrapper">
  <div class="info-section">
    <div class="half-no-image">
      <h3>Don't be afraid to share your own recipes!</h3>
    </div>

    <div class="half-with-image">
      <div class="imagediv">
      </div>
    </div>
  </div>
</div>




<div class="backy">
  <div id="disappearing-form">
      <%= image_tag "logo.jpg", class: "logo-form"%>
      <p> Do you want to keep up to date? Register your email and get the best recipes ever! </p>
     <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
</form>

      <p class= "btn_gold large" id="formbutton">Sign up to newsletter</p>
  </div>
</div>


