.banner {
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)), asset-url('banner.jpg');
  background-attachment: fixed;
  text-align: center;

  h1 {
  word-wrap:break-word;
  // overflow: hidden;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 150px;
  // DESKTOP VERSION
  // font-size: 7vh;
  //MOBILE VERSION
  font-weight: bold;
  font-family: $banner-font;
  }
}

.banner p {
  font-size: 20px;
  color: $my-gray;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

