.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255,255,255,0.5);
  opacity: 0.9;
  padding:0;
  padding-right: 1rem;
  padding-left: 1rem;

  #nav-title{
    font-family:Cinzel;
    font-size: 20px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  width: 40px;
}

.nav-link {
  // font-weight: bold;
  font-family: playfair display;
  color: red;
  font-size:16px;
  font-weight:bold;
}

// .nav-link-home {
//   // font-weight: bold;
//   font-family: playfair display;
//   // color: red;
//   font-size:24px;
//   font-weight:bold;
// }
